@import "../util/helper.scss";

main {
	display: grid;
	grid-template:
		"box1 box4 box5"
		"box2 box4 box6"
		"box3 box4 box7";
	grid-template-columns: 25rem 1fr 25rem;
	grid-template-rows: 1fr 1fr 1fr;

	> .section1 {
		grid-area: box1;
	}
	> .section2 {
		grid-area: box2;
	}
	> .section3 {
		grid-area: box3;
	}
	> .section4 {
		grid-area: box4;
	}
	> .section5 {
		grid-area: box5;
	}
	> .section6 {
		grid-area: box6;
	}
	> .section7 {
		grid-area: box7;
	}

	> section {
		display: flex;
		flex-direction: column;
		border: 1px solid #062542;
		color: #ddd;
		font-size: 0.875rem;
		position: relative;

		div.title {
			display: flex;
			justify-content: center;
			align-items: center;
			color: red;
			border: 1px solid #103852;
			color: #ddd;
			background: rgba(9, 36, 77, 0.774);
			height: 1.875rem;
			font-size: 0.875rem;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				border-radius: 4px;
				box-shadow: 17px 0 0 -16px #0e325f, -17px 0 0 -16px #0e325f,
					0 17px 0 -16px #0e325f, 0 -17px 0 -16px #0e325f,
					9px 0 0 -8px #0d4483, -9px 0 0 -8px #0d4483,
					0 9px 0 -8px #0d4483, 0 -9px 0 -8px #0d4483;
			}
		}

		.chart {
			flex: 1;
		}

		.formWrapper {
			margin-top: 1.875rem;
			width: 11.25rem;
			padding: 0.3rem;
			border: 1px solid rgba(245, 247, 250, 0.5);
			background: rgba(46, 148, 185, 0.4);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			font-size: 2rem;
			color: #dbeafe;
			position: relative;
		}

		.updateData {
			position: absolute;
			bottom: px(60);
			left: px(10);
			display: flex;
			flex-direction: column;
			justify-content: center;

			.ring {
				position: absolute;
				border: 1px solid #0c2939;
				bottom: px(60);
				left: px(180);
				width: 4rem;
				height: 4rem;
				border-bottom: none;
				border-radius: 50%;
				overflow: hidden;
				animation: spin infinite 5s linear;

				.radar {
					border: 2px solid #103142;
					position: absolute;
					width: 3.375rem;
					height: 3.375rem;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					border-radius: 50%;

					&::before {
						content: "";
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 1.75rem;
						height: 1.75rem;
						border: 2px solid #082132;
						border-radius: 50%;
					}

					&::after {
						content: "";
						position: absolute;
						top: 0;
						left: 50%;
						transform: translateX(-50%);
						width: 0.125rem;
						height: 1.5rem;
						z-index: 1;
						background: #007cc0;
						border-radius: 50%;
						box-shadow: 0 0 5px 1px #0094e4,
							-3px -10px 5px 1px #0094e4,
							-7px -15px 10px 1px #0094e4,
							-3px -3px 10px 1px #0094e4,
							-7px -7px 20px 1px #0094e4,
							-11px -11px 30px 1px #0094e4,
							-11px -11px 40px 1px #0094e4,
							-11px -11px 30px 1px #0094e4,
							-11px -11px 30px 1px #0094e4;
					}
				}
			}
		}

		.notes {
			position: absolute;
			bottom: px(60);
			right: px(40);
		}
	}
}

.legend {
	position: absolute;
	top: px(60);
	right: px(10);
	height: px(40);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-right: px(10);
	> span {
		display: inline-block;
		width: px(16);
		height: px(10);
		border-radius: px(2);
		margin: 0 px(10);
	}

	span.first {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: linear-gradient(90deg, #2034f9 0, #04a1ff 100%);
	}
	span.second {
		display: flex;
		flex-direction: column;
		align-items: center;
		background: linear-gradient(90deg, #b92ae8 0, #6773e7 100%);
	}
}

.gray {
  color: #aaa;
}

.red {
  color: red;
}